<div id="about" class="panel contenedor">
    <header>
        <div class="icono_menu" ng-click="clickMenuIcon()">
            <img src="img/menu.svg">

		</div>
		<h1>About You Decide</h1>
	</header>
	<div>
		<p>You Decide is a free digital tool that makes it easier for people to have a say in the decisions that affect them.
			You can use the app to:</p>

		<ul>
			<li>Share your thoughts and preferences for neighbourhood decisions and help to shape the future of your area </li>
			<li>Set up your own polls and share your ideas with others – is there something you want to change? </li>
			<li>Give feedback to the Council and local organisations</li>
		</ul>

		<p>What does the future hold for your community? </br> <b>You decide: the choice is yours!</b></p>

		<p>There are four main categories within the app:</p>

		<ul>
			<li><b>Council Polls</b>: share your views about issues that affect the whole of Bristol</li>
			<li><b>Council Surveys</b>: tell the Council what you think in their latest surveys</li>
			<li><b>People’s Ideas</b>: submit your own ideas for change and vote on suggestions put forward by others</li>
			<li><b>Neighbourhood Choices</b>: have your say in decisions affecting your community, from practical matters to funding decisions (you will only be able to do this for decisions affecting your Neighbourhood Partnership area)
			</li>
		</ul>

		<p>You Decide is in development: during this pilot phase only People’s Ideas and Neighbourhood Choices are live. Submissions made through
		the app will be taken into account by the relevant decision-making bodies and considered alongside feedback obtained through other means
		(such as questionnaires and consultation events).</p>
		<p>The app was developed through a European project called IES Cities.  Working in four cities in Italy, Spain and the UK, the project
			explores how people can use digital technologies and apps to identify and address issues in their area.</p>
		For more details visit <a href="#" onclick="window.open('http://www.iescities.eu', '_system', 'location=yes')">www.iescities.eu</a>

    </div>
</div>  