<div id="categories" class="panel contenedor"
	ng-controller="categoriesCtrl">
	<header>
		<div class="icono_menu" ng-click="clickMenuIcon()">
			<img src="img/menu.svg">
		</div>
		<h1>Categories</h1>
	</header>

	<ul class="lista_cat">

		<li ng-click="viewPolls('otros')">
			<h2>Neighbourhood choices</h2>
			<p>Polls created by the neighbourhood manager</p>
			<div class="tag">
				<span>{{numOtros}}</span> polls
			</div>
		</li>
		
		<li ng-click="viewPolls('propuesta')">
			<h2>Your ideas</h2>
			<p>Polls created by citizens</p>
			<div class="tag">
				<span>{{numPropuestas}}</span> polls
			</div>
		</li>
		
		<li ng-click="viewPolls('plan')">
			<h2>Council polls</h2>
			<p>Polls related to city council planning.</p>
			<div class="tag">
				<span>{{numPlanes}}</span> plans
			</div>
		</li>

		<li ng-click="viewPolls('encuesta')">
			<h2>Surveys</h2>
			<p>Surveys created by the city council to collect citizen views</p>
			<div class="tag">
				<span>{{numEncuestas}}</span> surveys
			</div>
		</li>

	</ul>
</div>