<div id="login" class="panel contenedor" ng-controller="loginCtrl">
    <header>
        <div class="icono_menu" ng-click="clickMenuIcon()">
            <img src="img/menu.svg">
        </div>
        <h1>Login</h1>
    </header>
    <div class="contenido login">
        <p>Use your IES Cities account* to sign in</p>
        <form name="loginForm" enctype="multipart/form-data" method="post">

            <div class="linea_formulario">
                <input type="text" ng-model="loginData.email" placeholder="username (not your email)">
            </div>
            <div class="linea_formulario">
                <input type="password" ng-model="loginData.password" placeholder="password">
            </div>
            <div class="linea_formulario">
                <input type="submit" ng-click="userLogin()" value="Login">
            </div>
            <p>*If you have created a user account through apps such as Democratree and HealthyOffice, then you already have an IES Cities account</p>
            <div class="linea_formulario">
                <input type="submit" onclick="mitsos('xa')" value="Forgot password?">
            </div>

        </form>
<!--         <div class="facebook"><a href="#">Login con Facebook</a>
        </div>
        <div class="twitter"><a href="#">Login con Twitter</a>
        </div>
        <div class="google"><a href="#">Login con Google</a>
        </div> -->
        <div class=userNuevo ng-click="openNewUserPanel()" class="nuevoUsuario"><a href="#">New User</a>
        </div>

        <script>
            function mitsos(){
               	navigator.notification.prompt(
                    'If you proceed, your password will be reset.',        // message
                    confirmPasswordReset,                                // callback to invoke with index of button pressed
                    'Change password',                                    // title
                    ['Reset my password','Cancel'],                      // buttonLabels
                    'Enter the email address that you used to register'  //default text
                );
            }

            function confirmPasswordReset(results) {
                //alert('You selected button ' + buttonIndex);
                if (results.buttonIndex == 1){
                    //alert(results.input1);
                    iesResetPassword(results.input1);
                }
            }

            function iesResetPassword(email){
            toastr.info("Please wait...");
                var auth = make_basic_auth("bris_democratree", "83x6m75tP2Ms");
                var results;
                var jqxhr = $.ajax({
                    type: "GET",
                    timeout:48000,
                    contentType: 'application/json',
                    url: "https://iescities.com:443/IESCities/api/entities/users/reset/password/"+email,
                    beforeSend: function (jqxhr) {
                        jqxhr.setRequestHeader ("Authorization", auth);
                    }
                })
                .done(function(results) {
                    console.log("Successfully sent request for password reset");
                    toastr.info("Please check your email now");
                })
                .fail(function(jqxhr, textStatus, errorThrown) {
                    toastr.error(jqxhr.responseJSON.message);
                    console.log("Password reset request failed with text status '"+textStatus+"' and error thrown '"+errorThrown+"'");
                })
                .always(function() {
                    console.log( "Password reset request finished (successfully or not)");
                });
            }

            function make_basic_auth(user, password){
                var tok = user + ':' + password;
                var hash = window.btoa(tok);
                return "Basic " + hash;
            }



        </script>
    </div>
</div>