<!-- MAIN MENU -->

<div id="black_fader"></div>
<div id="main_menu"  ng-controller="navCtrl">

	 <nav id="menu" ng-click="clickMenu()">
      <ul><img src="img/icon.png" alt="" height="70" width="70" align="middle">  <!-- STEF changed this -->
        <li ng-click="openList()">
			<a>All polls</a>
		
        </li>
        <li ng-click="openLogin()" ng-if="!logged">
			<a>Login</a>
		
        </li>
        <li ng-click="openMypolls()" ng-if="logged">
			<a>My Polls</a>
		
        </li>
        <li ng-click="openCategories()">
			<a>Categories</a>
		
        </li>
          <li ng-click="openNewpoll()" ng-if="logged">
			<a>New Poll</a>		
        </li>
        <li ng-click="openIESSurvey()">
			<a>Rate the app</a>		
        </li>
        <li ng-click="openAbout()">
			<a>About the app</a>		
        </li>
		<li ng-click="openTC()">
			<a>View T&C</a>		
        </li>
      </ul>
    </nav>

</div>