<div id="newpoll" class="panel contenedor" ng-controller="newpollCtrl">
    <header>
        <div class="icono_menu" ng-click="clickMenuIcon()">
            <img src="img/menu.svg">

		</div>
		<h1>New Poll</h1>
	</header>
	<div class="contenido newpoll">
		<p>Create a new poll</p>
		<form name="newpollForm" method="post" novalidate>
		<!-- TITLE -->
        <div class="form-group linea_formulario" ng-class="{ 'has-error' : newpollForm.title.$invalid && !newpollForm.title.$pristine }">
            <input type="text" placeholder="Title" name="title" class="form-control" ng-model="newpoll.title" ng-minlength="10" ng-maxlength="200">
                </div>
		  <!-- DESCRIPTION -->
		<div class="form-group linea_formulario" ng-class="{ 'has-error' : newpollForm.description.$invalid && !newpollForm.description.$pristine }">
            <textarea placeholder="Description" name="description" class="form-control" ng-model="newpoll.description" ng-minlength="10" ng-maxlength="500">
            </textarea>
          </div>
			<div class="linea_formulario" ng-click="createPoll()">
				<input type="submit" value="Create">
			</div>

        </form>
    </div>
</div>