<!-- NEW USER -->
<div ng-controller="profileCtrl">
	<div id="new_user">
		<div class="panel">
			<div class="panel_header">
				<h3 class="profile_icon">New IES Cities account</h3>
				<div class="popup_closer" ng-click="closePanelWithId('new_user')"></div>
			</div>

			<div class="panel_body">
					<form name="newUserForm" method="post">
					
						<div class="panel_option">						
							<div class="form_line">
								<input type="text" placeholder="Name (required)" ng-model="profileData.name"  />
							</div>							
							<div class="form_line">								
								<input type="text" placeholder="Email (required)" ng-model="profileData.email" />								
							</div>
							<div class="form_line">								
								<input type="text" placeholder="Username (required)" ng-model="profileData.username" />								
							</div>
							<div class="form_line">								
								<input type="password" placeholder="Password (required)" ng-model="profileData.password" />								
							</div>
							<div class="form_line">								
								<input type="password" placeholder="Confirm password" ng-model="profileData.passwordConfirm" />								
							</div> 
							
							
							<!-- NOT USEFUL FOR BRISTOL/IES REGISTRATION
							<div class="form_line"><input type="text" placeholder="Telephone no." ng-model="profileData.phone" /></div>
							<div class="form_line"><input type="text" placeholder="Address" ng-model="profileData.user_address" /></div>
							<div class="form_line"><input type="text" placeholder="City" ng-model="profileData.city" /></div>
							<div class="form_line"><input type="text" placeholder="Country" ng-model="profileData.country" /></div>
							<div class="form_line"><input type="text" placeholder="Post code" ng-model="profileData.zipcode" /></div>
							<div class="form_line"><input type="text" placeholder="DNI" ng-model="profileData.nif" /></div>
							-->
							
						</div>
						
						<div class="save_profile">
							<input value="Create" type="submit" ng-click="createNewUser()">
							<!-- <div class="update_button" ng-click="saveProfile()">Entrar</div> -->
						</div>
						
					</form>
				</div>
			</div>
		</div>
		</div>
		