<div id="details" class="panel contenedor" ng-controller="resultsCtrl">
    <header>
        <div class="icono_menu" ng-click="clickMenuIcon()">
            <img src="img/menu.svg">
        </div>
        <h1>Poll details</h1>
    </header>  
    <div class="contenido"> 
        <h2>{{selectedPoll.title}}</h2>
		<div ng-bind-html="selectedPoll.description"></div>
		<p></p>
        <div class="encuestaDetalle">
            <dl>
                <dt ng-if="selectedPoll.start">Start date: </dt>
                <dd ng-if="selectedPoll.start">{{selectedPoll.start | date:'yyyy-MM-dd HH:mm'}}</dd>
                <dt ng-if="selectedPoll.end">End date: </dt>
                <dd ng-if="selectedPoll.end">{{selectedPoll.end | date:'yyyy-MM-dd HH:mm'}}</dd>
                <dt>Type: </dt>
                <dd>{{selectedPoll.type}}</dd>
                <dt>Total votes: </dt>
                <dd>{{selectedPoll.votosAFavor + selectedPoll.votosEnContra}} votes</dd>
                <dt>Created on: </dt>
                <dd>{{selectedPoll.creationDate | date:'yyyy-MM-dd HH:mm'}}</dd> 
                <!-- DON'T SHOW CATEGORY, BECAUSE IT'S IN SPANISH. FOR NOW JUST SHOW TYPE -->
                <!-- <dt>Category: </dt>
                <dd>{{selectedPoll.category}}</dd> -->                

                <!-- HIDE OPTION FOR COMMENTS ALLOWED OR NOT
                <dt>Comments: </dt>
                <dd ng-if="selectedPoll.aportaciones">Yes</dd>
                <dd ng-if="!selectedPoll.aportaciones">No</dd>
                -->
                
            </dl>
           

        </div>
        
        <form name="newpollForm" method="post">

            <div id="newaportacion" class="linea_formulario" style="display: none;">
                <textarea placeholder="Comment" ng-model="newaportacion.comment"></textarea>
            </div>
            <div id="shownewaportacion" class="linea_formulario" ng-click="showNewAportacion()">
                <input type="submit" value="Create new comment">
            </div>
            <div id="sendaportacion" class="linea_formulario" style="display: none;">
                <div ng-click="createAportacion()">
                	<input type="submit" value="Submit comment">
                </div>
                <div ng-click="cancelAportacion()">
                	<input type="submit" value="Cancel">
                </div>
            </div>

        </form>
        <ul class="comentarios">
            <li ng-repeat="aportacion in aportaciones">

                <p>{{aportacion.comment}}</p>
                <p class="usuario">{{aportacion.username}}</p>

                 <ul ng-if="!aportacion.votoUsuario" class="voto_comentario">
                    <li class="favor" ng-click="voteAportacion(aportacion.id,'a-favor')">I agree <span ng-if="aportacion.votosAFavor">{{aportacion.votosAFavor}}</span><span ng-if="!aportacion.votosAFavor">0</span></li>
                    <li class="contra" ng-click="voteAportacion(aportacion.id,'en-contra')">I disagree <span ng-if="aportacion.votosEnContra">{{aportacion.votosEnContra}}</span><span ng-if="!aportacion.votosEnContra">0</span></li>
                	
                </ul>
                
                 <ul ng-if="aportacion.votoUsuario" class="voto_comentario">
                    <li class="favor" ng-click="message('You have already voted this')">I agree <span ng-if="aportacion.votosAFavor">{{aportacion.votosAFavor}}</span><span ng-if="!aportacion.votosAFavor">0</span></li>
                    <li class="contra" ng-click="message('You have already voted this')">I disagree <span ng-if="aportacion.votosEnContra">{{aportacion.votosEnContra}}</span><span ng-if="!aportacion.votosEnContra">0</span></li>
                </ul>

            </li>
        </ul>

    </div>
 
    <div class="voteOption">
    <p ng-show="selectedPoll.votoUsuario || optionSelected" class="opcionSelec" content="a" style="position: absolute;">{{optionSelected}}</p>
        <a ng-hide="logged && selectedPoll.votoUsuario" id="vota" ng-click="tapEvent()" href="#"><img src="img/mano_gris.svg"><span>Select your vote</span>
        </a>
        <div class="encuestaOpciones">
        <div class="tap" ng-click="showDetails()">Select your vote below, or tap here </br> to go back to description</div>
            <ol class="voteList">
                <!--    <li ng-repeat="option in selectedPoll.options | orderBy: '-name'"><a href="#" id="opcion" ng-click="setOption(option)">{{option.description}}</a></li>-->
                <li> <a href="#" ng-click="setOption('a-favor')">I agree</a></li>
                <li> <a href="#" ng-click="setOption('en-contra')">I disagree</a></li>
            </ol>            
        </div>
        <div class="enviado">Your vote has been cast.</div>
    </div>
    <div class="botonera">
        <div class="result" ng-click="showResults()"><a>Results</a>
        </div>
        <div class="setVote disabled">
            <a href="#" ng-if="!logged" ng-click="notLoggedIn()">Not logged in</a>
            <a href="#" ng-if="logged && selectedPoll.votoUsuario" ng-click="alreadyVoted()">Already voted</a>
            <a href="#" ng-if="logged && !selectedPoll.votoUsuario && !optionSelected" ng-click="noSelection()">Choose</a>
       		<a href="#" ng-if="logged && !selectedPoll.votoUsuario && optionSelected" ng-click="setVote()">Vote</a> 
       	</div>
    </div>

</div>
